/* Universal rules */
* { box-sizing: border-box; }

body,
html {
    width: 100%;
    height: 100%;
}

body {
	font-family: 'Source Sans Pro';
	background-color: #fff;
}

/* Landing page rules */
.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-masthead.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
   font-size: 4rem;
   margin: 0;
   padding: 0;
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
    }
    .masthead h1 {
        font-size: 5.5rem;
    }
}

/* Sign-up and Sign-in page rules */
form { margin: 0px 10px; }

h2 {
	margin-top: 2px;
	margin-bottom: 2px;
}

.reg-form { 
	max-width: 390px; 
	margin-top: 15px;
}

.form-group { margin-bottom: 10px; }

.card { 
	padding: 0 15px;
	border: 1px solid #AAA; 
}

.sign-title {
	margin-top: 15px;
	margin-bottom: 15px;
}

.sign-term { line-height: 20px; }

.divider {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 5px;
}

.divider hr {
	margin: 7px 0;
	width: 35%;
}

.left { float: left; }

.right { float: right; }

/* Dashboard rules */
.navbar-rules {
	background-color: #85929e;
}

.navbar-brand { height: 40px; }

.row.content { height: auto; }

.sidenav {
	background-color: #34495e;
	color: white;
  	height: 589px;
}

.userinfo {
	padding: 30px 3px 7px 5px;
	font-weight: bold;
}

/* left-sidenav */
.left-sidenav {
	background-color: #17202a; 
	height: 589px;
	padding: 0;
}

.user {
	color: #fff; 
	font-weight: bold; 
	width: 100%; 
	background-color: #273746; 
	padding: 17px;
	padding-left: 10px; 
	padding-bottom: 10px;
}

.user p i {
	font-size: 25px; 
	padding-right: 10px;
}

.nav-ul {
	list-style: none; 
	padding-left: 0; 
	padding-top: 15px;
}

.nav-ul li {
	padding: 5px;
	font-weight: bold;
}

.nav-ul li a { 
	color: #eaeded;
	padding-left: 19px;
}

.nav-ul li:hover {
	background-color: #273746;
	border-left: 3px solid #f00;
}
/* left-sidenav end */

/* article */
.stock, 
.status, 
.stock-price {
	margin-top: 10px;
	border-radius: 0;
}

.fa-chart-line, 
.fa-history , 
.fa-ethereum {
	font-size: 2.3rem;
}

.fa-chart-line {
	color: green;
}

.fa-history {
	color: orange;
	padding-top: 5px;
}

.fa-ethereum {
	color: blue;
	padding-top: 5px;
}

.stock p, 
.status p, 
.stock-price p {
	font-size: 1.1rem;
	color: #34495e;
	font-weight: bold;
	margin-bottom: 0;
}

.value {
	padding-top: 5px;
}

.btn-block { 
	margin-top: 10px;
	margin-bottom: 7px;
}
/* article end */




.content-ii { 
	padding-top: 35px;
}

.content-iii {
	padding-top: 20px;
}

@media screen and (max-width: 767px) {
  	.row.content { height: auto; } 
}