{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
  <div class="container">
  	<form action="" method="post">
  		{{ form.hidden_tag() }}
      <dl>
        {{ render_field(form.email) }}
        {{ render_field(form.phone) }}
        {{ render_field(form.password) }}
        {{ render_field(form.password2) }}
        {{ render_field(form.bank_name) }}
        {{ render_field(form.acc_no) }}
        {{ render_field(form.acc_name) }}
      </dl>
  		<p>{{ form.sign_up() }} <a href="{{ url_for('index') }}">Back</a></p>
  	</form>
  </div>
{% endblock %}