{% extends "base.html" %}

{% block content %}
  <div class="container">
  	<form action="" method="post">
  		{{ form.hidden_tag() }}
  		<p>
        {{ form.phone.label }}<br>
        {{ form.phone(size=25) }}<br>
        {% for error in form.phone.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label }}<br>
        {{ form.password(size=25) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.remember.label }}
        {{ form.remember(size=25) }}<br>
        {% for error in form.remember.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ form.sign_in() }} <a href="{{ url_for('index') }}">Back</a></p>
  	</form>
  </div>
{% endblock %}