{% extends "base.html" %}

{% block content %}
  <div class="container">
  	<form action="" method="post">
  		{{ form.hidden_tag() }}
      <p>
        {{ form.email.label }}<br>
        {{ form.email(size=25) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
  		<p>
  			{{ form.phone.label }}<br>
  			{{ form.phone(size=25) }}<br>
  			{% for error in form.phone.errors %}
  			<span style="color: red;">[{{ error }}]</span>
  			{% endfor %}
  		</p>
  		<p>
  			{{ form.password.label }}<br>
  			{{ form.password(size=25) }}<br>
  			{% for error in form.password.errors %}
  			<span style="color: red;">[{{ error }}]</span>
  			{% endfor %}
  		</p>
  		<p>
  			{{ form.password2.label }}<br>
  			{{ form.password2(size=25) }}<br>
  			{% for error in form.password2.errors %}
  			<span style="color: red;">[{{ error }}]</span>
  			{% endfor %}
  		</p>
  		<p>
  			{{ form.terms.label }}
  			{{ form.terms(size=25) }}<br>
  			{% for error in form.terms.errors %}
  			<span style="color: red;">[{{ error }}]</span>
  			{% endfor %}
  		</p>
  		<p>{{ form.sign_up() }} <a href="{{ url_for('index') }}">Back</a></p>
  	</form>
  </div>
{% endblock %}